<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.bus.mapper.LossMapper">
  <resultMap id="BaseResultMap" type="com.lx.bus.domain.Loss">
    <!--@mbg.generated-->
    <!--@Table bus_loss-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="losstime" jdbcType="DATE" property="losstime" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="avaliable" jdbcType="INTEGER" property="avaliable" />
    <result column="providerid" jdbcType="INTEGER" property="providerid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, losstime, `number`, remark, avaliable, providerid
  </sql>
</mapper>